PORT=3000

PRODUCTS_MICROSERVICES_HOST= 'localhost'
PRODUCTS_MICROSERVICES_PORT= 3001



DB_USER="postgres"
DB_PORT="5432"
DB_PASSWORD="postgres"
DB_NAME="nestApp"
DATABASE_URL="postgresql://postgres:postgres@postgres-db:5432/nestApp?schema=public"

JWT_SECRET="secret"